.catalog {
  display: grid;
  grid-template-columns: $card-width;
  grid-gap: 48px;
  justify-content: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid $color-border;
    border-radius: 5px;
  }

  @each $size, $columns in $sizes {
    @media (min-width: $size) {
      grid-template-columns: repeat($columns, $card-width);
    }
  }

}
